@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
    scroll-behavior: smooth;
}

:root{
  --prim-color: #4e7661;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;

  --Plus-Jakarta-Sans: 'Plus Jakarta Sans', sans-serif;
  --Poppins: 'Poppins';

  --transition-regular: .3s;
  --transition-slow: .6s;
}

html,
body{
    overflow-x: hidden;
}

.nav-wrapper{
    padding: 0 5%;
}

.cart-qount{
  font-size: 15px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-right: 1px;
  width: 22px !important;
  height: 22px !important;
  background-color: var(--black-color);
  color: var(--white-color);
}

.nav-link {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}

.nav-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--black-color);
  transition: var(--transition-regular)
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--black-color);
  transition: var(--transition-regular)
}

.nav-link:hover:after{
  width: 100%;
}

.nav-link:hover:before{
  width: 100%;
}

/* Nav MQ section */

@media (max-width: 991px) {
  .nav-menu{
      padding: 5%;
  }
  .nav-menu li,
  .nav-menu li a{
      width: 100% !important;
  }
}
.btn {
  background-color: var(--black-color);
  color: var(--white-color);
}
.btn:hover {
  background-color: var(--prim-color) !important;
  color: var(--white-color) !important;
}

/* Hero Section  */

.hero {
  margin-top: 80px;
}
.hero-wrap {
  height: 90vh;
  background-image: url(https://i.pinimg.com/736x/75/f7/19/75f7199b7c9d65178843ca33bc1f5a4b.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  animation: Anim-zoomOut var(--transition-regular) forwards linear;
}
.hero-wrap2 {
  background-image: url(https://wallpaper.forfun.com/fetch/23/234ad7625eec110f7f973332a0ac1c59.jpeg);
}
.hero-wrap3 {
  background-image: url(https://media.istockphoto.com/id/184986128/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D1%83%D0%B6%D1%81%D0%BA%D0%BE%D0%B9-%D1%88%D0%B8%D0%BC%D0%BF%D0%B0%D0%BD%D0%B7%D0%B5-%D0%B2-%D0%B4%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE%D0%B9-%D0%BE%D0%B4%D0%B5%D0%B6%D0%B4%D1%8B.jpg?s=612x612&w=0&k=20&c=THHChBIpPho2arPBqUHwEy4M5aklAsNL3q1YCFVleXg=);
}
.hero-content {
  padding: 0 8%;
  width: 50%;
}
.hero-content h5 {
  color: var(--black-color);
  opacity: 0;
  animation: anim-left 0.6s 0.3s forwards linear;
}
.hero-content h1 {
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  animation: anim-left 0.6s 0.6s forwards linear;
}
.hero-content p {
  font-size: 1.2rem;
  width: 80%;
  color: var(--text-color);
  opacity: 0;
  animation: anim-left 0.6s 0.9s forwards linear;
} 
.hero-btn {
  width: 200px !important;
  font-size: 1.5rem;
  opacity: 0;
  animation: anim-left 0.6s 1.2s forwards linear;
}

/* Hero Animations */

@keyframes Anim-zoomOut {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes anim-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* Hero Section MQ */

@media (max-width: 1199px) {
  .hero-content h1 {
    font-size: 3.3rem;
  }
}
@media (max-width: 991px) {
  .hero-content {
    width: 60%;
  }
  .hero-content h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 767px) {
  .hero-content {
    width: 70%;
  }
  .hero-content h1 {
    font-size: 2.8rem;
  }
}

/* Products Section */

.section-title {
  font-size: 1.2rem;
  font-weight: 500 !important;
  color: var(--text-color) !important;
  text-transform: uppercase;
}
.product-item {
  cursor: pointer;
}
.product-item:hover .product-icons .product-icon:nth-child(1) {
  transform: translateY(0px);
  transition-duration: .2s;
}
.product-item:hover .product-icons .product-icon:nth-child(2) {
  transform: translateY(0px);
  transition-duration: .5s;
}
.product-image {
  width: 100%;
  cursor: pointer;
}
.product-image img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition-slow);
}
.product-item:hover .product-image img:nth-child(2) {
  opacity: 1;
}
.product-content h3 { 
font-size: 1rem;
font-weight: 700;
}
.product-content span {
  font-size: 1.1rem;
  font-weight: bold;
}
.product-icons { 
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  padding-bottom: 10px; 
  z-index: 2;
} 
.product-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 50%;
  transition: var(--transition-regular);
  transform: translateY(70px);
}
.product-icon:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.product-image .tag {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 700;
}