@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
    scroll-behavior: smooth;
}

:root{
  --prim-color: #4e7661;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;

  --Plus-Jakarta-Sans: 'Plus Jakarta Sans', sans-serif;
  --Poppins: 'Poppins';

  --transition-regular: .3s;
  --transition-slow: .6s;
}

html,
body{
    overflow-x: hidden;
}

.nav-wrapper{
    padding: 0 5%;
}

.cart-qount{
  font-size: 15px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-right: 1px;
  width: 22px !important;
  height: 22px !important;
  background-color: var(--black-color);
  color: var(--white-color);
}

.nav-link {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}

.nav-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--black-color);
  transition: var(--transition-regular)
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--black-color);
  transition: var(--transition-regular)
}

.nav-link:hover:after{
  width: 100%;
}

.nav-link:hover:before{
  width: 100%;
}

/* Nav MQ section */

@media (max-width: 991px) {
  .nav-menu{
      padding: 5%;
  }
  .nav-menu li,
  .nav-menu li a{
      width: 100% !important;
  }
}
.btn {
  background-color: var(--black-color);
  color: var(--white-color);
}
.btn:hover {
  background-color: var(--prim-color) !important;
  color: var(--white-color) !important;
}
